build --disk_cache=/tmp/flare/dc
build --repository_cache=/tmp/flare/rc

build --strategy_regexp=^Linking=local

build --crosstool_top=@llvm_toolchain//:toolchain
build --copt=-DGRPC_BAZEL_BUILD
build --action_env=GRPC_BAZEL_RUNTIME=1

build:debug -c dbg
build:debug --javacopt="-g"
build:debug --copt="-g"
build:debug --strip="never"